---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import TrustBadges from '../components/TrustBadges.astro';
import Features from '../components/Features.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Pricing from '../components/Pricing.astro';
import Testimonials from '../components/Testimonials.astro';
import FAQ from '../components/FAQ';
import Contact from '../components/Contact.astro';
import WhatsAppButton from '../components/WhatsAppButton.astro';
import CTABanner from '../components/CTABanner';
import Analytics from '../components/Analytics.astro';
import Footer from '../components/Footer.astro';
import { APP_URL } from '../consts';
---

<Layout title="Aparca - El Software #1 para Parqueaderos en Colombia">
	<Analytics />
	<Navbar />
	<main>
		<Hero />
		<TrustBadges />
		<Features />
		<HowItWorks />
		<Pricing />
        <Testimonials />
		<FAQ client:load />
        <Contact />
	</main>
	<WhatsAppButton />
	<CTABanner client:load appUrl={APP_URL} />
	<Footer />
</Layout>
